@mixin defaultDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header-title($size) {
  font-size: $size;
  color: #fff;
}

@mixin button {
  width: 170px;
  height: 55px;
  font-size: 14px;
  background-color: #998675;
  border: none;
  border-bottom: 2px solid #736357;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  outline: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  header {
    width: 100%;
    height: 850px;
    position: relative;

    .carousel {
      width: 100%;
      height: 850px;
      position: absolute;
      top: 0;
      left: 0;

      &-inner {
        height: inherit;

        .carousel-item {
          width: 100%;
          height: inherit;
          background: url("../image/header/bg.jpg");

          .carousel-gradient {
            width: 100%;
            height: inherit;
            background-color: rgba(33, 33, 33, 0.8);
          }
        }
      }
    }

    .header-top {
      @include defaultDisplay;
      justify-content: space-between;
      width: 70%;
      height: 80px;
      margin: 0 auto;

      .header-logo {
        @include defaultDisplay;
        width: 25%;
        height: inherit;
        z-index: 1;

        img {
          width: 20%;
          height: 60%;
        }

        h2 {
          font-size: 34px;
          color: #fff;
        }
      }

      .header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: inherit;
        z-index: 1;

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style-type: none;

          .menu-item {
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            padding: 20px 10px;

            &:hover {
              color: #C7B299;
            }
          }

          .menu-item--active {
            color: #C7B299;
            padding: 20px 10px;
          }
        }
      }
    }

    .header-container {
      @include defaultDisplay;
      flex-direction: column;
      width: 70%;
      height: 300px;
      margin: 200px auto;

      .container-title {
        width: 100%;
        text-align: center;
        z-index: 1;

        h2 {
          @include header-title(35px);
        }

        h1 {
          @include header-title(54px);
          font-weight: bold;
        }

        p {
          @include header-title(16px);
        }
      }

      .container-btn {
        @include defaultDisplay;
        width: 100%;
        height: 70px;
        z-index: 1;
        margin-top: 50px;

        .bigBtn {
          @include button;
        }
      }
    }
  }

  main {
    width: 100%;

    .services {
      margin: 50px 0;

      .service {
        margin: 30px 0;
        text-align: center;

        .title {
          margin: 30px 0 15px;

          h3 {
            font-size: 22px;
          }
        }

        .text {
          color: #8C8C8C;
          font-size: 14px;
        }
      }
    }

    .photos {
      width: 100%;
      padding: 50px 0 0;
      background-color: #FBFAF8;

      .photo {
        width: 100%;
        margin: 0 auto;

        .title {
          width: 65%;
          margin: 0 auto;
          text-align: center;

          h2 {
            font-size: 30px;
          }

          p {
            color: #8C8C8C;
            font-size: 16px;
          }
        }

        .card {
          width: 95%;
          background-color: #FBFAF8;
          box-shadow: none;
          margin: 100px auto 0;

          .card-container {
            width: 60%;

            img {
              width: 100%;
            }
          }

          .card1 {
            margin: 0;
          }

          .card2 {
            margin-top: -31%;
            margin-left: 37%;
            z-index: 1;
          }

          .card3 {
            margin: -37.7% 0 0 18%;
            z-index: 2;
          }
        }
      }
    }

    .boxes {
      width: 100%;
      background: linear-gradient(90deg, #1E1412, #553021);
      padding: 30px 0;
      margin-top: -3px;
      position: absolute;
      z-index: 99999;

      .container {
        height: inherit;

        .row {
          width: 95%;
          margin: 0 auto;

          .boxes-desc {
            @include defaultDisplay;
            align-items: flex-start;
            flex-direction: column;
            text-align: center;

            h2 {
              color: #fff;
              font-size: 28px;

              span {
                color: #736357;
                font-size: 28px;
              }
            }

            p {
              font-size: 18px;
              color: #736357;
            }
          }

          .boxes-btn {
            @include defaultDisplay;

            .bigBtn {
              @include button
            }
          }
        }
      }
    }

    .project {
      width: 100%;
      margin: 170px 0 70px;

      .project-title {
        text-align: center;

        h3 {
          font-size: 30px;
          color: #555555;
        }

        p {
          width: 65%;
          margin: 0 auto;
          font-size: 16px;
          color: #8C8C8C;
        }
      }

      .btn-container {
        width: 60%;
        text-align: center;
        margin: 15px auto 20px;

        .btn-project {
          height: 32px;
          padding: 0 15px;
          margin: 0 5px;
          font-size: 14px;
          color: #8C8C8C;
          background-color: #fff;
          border: 1px solid silver;
          border-radius: 3px;
          outline: none;

          &:hover {
            background-color: #736357;
            color: #fff;
          }
        }
      }

      .project-gallery {
        margin: 0 auto;

        .project-container {
          @include defaultDisplay;
          flex-direction: column;
          margin-top: 20px;

          .project-photo {
            width: 100%;
            height: 70%;
            cursor: pointer;

            img {
              width: inherit;
              height: 100%;
            }
          }

          .project-description {
            width: 100%;
            height: 30%;
            background-color: #FBFAF8;
            padding: 30px 20px;

            h3 {
              font-size: 20px;
              color: #C7B299;
            }

            p {
              font-size: 14px;
              color: #D1D1D1
            }

            &:hover {
              background-color: #362F2D;
              cursor: pointer;

              p {
                color: #B3A08A;
              }

              h3 {
                color: #fff;
              }
            }
          }
        }
      }

      .bottom-button {
        text-align: center;
        margin: 50px auto;

        .bigBtn {
          @include button;
        }
      }
    }

    .video {
      width: 100%;
      height: 500px;
      position: relative;

      .video-container {
        width: 100%;
        height: 500px;

        img {
          width: 100%;
          height: inherit;
        }
      }

      .video-bg {
        @include defaultDisplay;
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(89, 89, 89, 0.5);

        .circle {
          @include defaultDisplay;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: rgba(49, 49, 49, 0.5);
          margin: 80px auto 0;

          img {
            width: 70%;
            height: 70%;
          }
        }

        .text-container {
          width: 60%;
          margin: 40px auto 0;
          text-align: center;

          h3 {
            font-size: 30px;
            color: #fff;
          }

          p {
            font-size: 16px;
            color: #fff;
            width: 90%;
            margin: 0 auto;
          }

          span {
            color: #C7B299;
            font-size: 14px;
          }
        }
      }
    }

    .mobdevice {
      width: 100%;

      .container {
        margin: 90px auto 0;

        .container-photo {
          text-align: center;

          img {
            width: 100%;
            height: inherit;
          }
        }

        .container-description {
          h2 {
            margin: 60px 0 40px;
            font-weight: 400;
          }

          p {
            width: 85%;
            margin: 0;
            font-size: 16px;
            color: #8C8C8C;
          }

          .mob-list {
            margin: 30px 0 0 60px;
            list-style-type: none;

            .list-item {
              font-size: 14px;
              margin: 10px 0;
              color: #8C8C8C;

              img {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }

    .counters {
      width: 100%;
      background: linear-gradient(90deg, #1E1412, #553021);
      padding: 35px 0;
      font-family: 'Montserrat', sans-serif;

      .row {
        display: flex;
        justify-content: space-between;

        .container-item {
          @include defaultDisplay;
          flex-direction: column;
          margin: 10px 0;

          h2 {
            font-size: 48px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0 0;
          }

          span {
            font-size: 14px;
            color: #C7B299;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0 0;
            text-transform: uppercase;
          }

          .block {
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin-top: 30px;
          }
        }
      }
    }

    .partners {
      width: 100%;
      height: 300px;
      position: relative;

      .partners-image {
        height: 300px;

        img {
          width: 100%;
          height: inherit;
        }
      }

      .partners-bg {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(89, 89, 89, 0.5);
      }

      .partners-logo {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .partners-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          height: 200px;
          margin: 4% auto;

          .partners-item {
            @include defaultDisplay;
            width: 16%;
            height: 100px;
            z-index: 99999;

            img {
              width: 100%;
              height: inherit;
            }
          }
        }
      }
    }
  }


  footer {
    width: 100%;

    .footer-top {
      background-color: #191919;
      padding: 80px 0;

      .row {
        width: 80%;
        margin: 0 auto;

        div {
          margin: 15px 0;

          .footer-title {
            font-size: 24px;
            color: #fff;
            font-weight: bold;
          }

          p {
            color: #555555;
            font-size: 14px;
            margin: 5px 0;
            text-align: justify;
            font-weight: bold;
          }

          span {
            color: #363636;
            font-size: 12px;
          }
        }

        .container {
          margin: 0;
          padding: 0;
          .row {
            margin: 0;
            .block {
              width: 85px;
              height: 85px;
              margin: 5px;

              img {
                width: 100%;
                height: inherit;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      @include defaultDisplay;
      width: 100%;
      height: 110px;
      background-color: #111111;
    }
  }
}
